{% extends "ImieMainBundle::layout.html.twig" %}

{% block menu %}service{% endblock %}

{% block body %}

<section id="bg__top">
  <h1>SERVICIO</h1>
  <p>
    Le monde à votre service...
  </p>
</section>
    <h1>Tous les services</h1>




    <table class="table table-hover">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>Email</th>
                <th>Preferences</th>
                <th>Createdat</th>
                {% if is_granted('ROLE_ADMIN') %}<th>Actions</th>{% endif %}
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('service_show', { 'id': entity.id }) }}">{{ entity.titre }}</a></td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.preferences|date('Y-m-d H:i:s') }}</td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                {% if is_granted('ROLE_ADMIN') %}
                <td>
                    <a class="btn btn-info" href="{{ path('service_edit', { 'id': entity.id }) }}">Editer</a>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>


            <a class="btn btn-default" href="{{ path('service_new') }}">
                Créer un nouveau service
            </a>

    {% endblock %}
