{% extends "ImieMainBundle::layout.html.twig" %}
{% block stylesheets %}
  <link href="{{ asset('bundles/imiemain/css/jquery.datetimepicker.css') }}" rel="stylesheet" />
{% endblock %}

{% block menu  %}addService{% endblock %}

{% block body %}
    <div class="">
      <h1>Créer un service</h1>
      <a class="btn btn-default" href="{{ path('service') }}">
          Retour à la liste
      </a>
    </div>

    {#{ form(form) }#}
<form action="{{ path('service') }}" method="post" {{ form_enctype(form) }}>
    {{ form_start(form, { attr:{'id' : 'formCreateService', 'novalidate': 'novalidate'}}) }}
    {{ form_errors(form) }}

    <div class="form-group">
        {{ form_label(form.titre) }}
        <div style="color: red">
          {{ form_errors(form.titre) }}
        </div>

        {{ form_widget(form.titre, { 'attr': {'class': 'form-control'} }) }}
    </div>

    <div class="form-group">
        {{ form_label(form.description) }}
        {{ form_errors(form.description) }}
        {{ form_widget(form.description, { 'attr': {'class': 'form-control'} }) }}
    </div>

    <div class="form-group">
        {{ form_label(form.email) }}
        {{ form_errors(form.email) }}
        {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
    </div>

    <div class="form-group">
        {{ form_label(form.preferences) }}
        {{ form_errors(form.preferences) }}
        {{ form_widget(form.preferences, { 'attr': {'class': 'form-control'} }) }}
    </div>



    <div class="form-group">
        {{ form_label(form.categorie) }}
        {{ form_errors(form.categorie) }}
        {{ form_widget(form.categorie, { 'attr': {'class': 'form-control'} }) }}
    </div>

    <div class="form-group">
        {{ form_label(form.image.file) }}
        {{ form_errors(form.image.file) }}
        {{ form_widget(form.image.file, { 'attr': {'class': 'form-control'} }) }}
    </div>

    <div class="form-group">
        {{ form_label(form.image.alt) }}
        {{ form_errors(form.image.alt) }}
        {{ form_widget(form.image.alt, { 'attr': {'class': 'form-control'} }) }}
    </div>

    <div class="form-group">
        {{ form_label(form.image.name) }}
        {{ form_errors(form.image.name) }}
        {{ form_widget(form.image.name, { 'attr': {'class': 'form-control'} }) }}
    </div>

    <div class="form-group">
        {{ form_label(form.image.path) }}
        {{ form_errors(form.image.path) }}
        {{ form_widget(form.image.path, { 'attr': {'class': 'form-control'} }) }}
    </div>

        {{ form_widget(form.submit, { 'attr': {'class': 'btn btn-info'} }) }}



{{ form_end(form) }}
</form>


{% endblock %}

{% block javascripts %}
<script src="{{ asset('bundles/imiemain/js/jquery.datetimepicker.js') }}"></script>
<script type="text/javascript">
$(function() {
  $( "#imie_mainbundle_service_createdAt" ).datetimepicker();
/*
  var formCreateService = $('form#formCreateServiceDESACTIVE');
  var formUrl = formCreateService.attr('action');
  console.log(formCreateService);
  formCreateService.on('submit', function(){
  $.ajax({
    url: formUrl,
    type: "POST",
    data: formCreateService.serialize(),
    success: function(data){
      //console.log(data);
      $('h1').html(data.welldone);
    }
  });
  return false;
}); */
});
</script>
{% endblock %}
