{% extends "ImieMainBundle::layout.html.twig" %}

{% block body %}
  <div id="top-show"class="col-md-12">
    <h1>Service</h1>
    <div class="edit-header">
      <a class="btn btn-default" href="{{ path('service') }}">
          Retour à la liste
      </a>
      <a class="btn btn-info" href="{{ path('service_edit', { 'id': entity.id }) }}">
          Editer
      </a>
      {{ form(delete_form, { 'attr': {'class': 'deleteBtn'} }) }}
    </div>
  </div>




      <div class="media__show col-md-6">
        <img src="{{ asset( 'uploads/images/' ~ entity.image.path ) }}" alt="{{ entity.image.alt }}" />
      </div>

      <div class="col-md-6">
        <table class="table table-hover">
          <tbody>
              <tr>
                  <th>Titre</th>
                  <td>{{ entity.titre }}</td>
              </tr>
              <tr>
                  <th>Description</th>
                  <td>{{ entity.description }}</td>
              </tr>
              <tr>
                  <th>Email</th>
                  <td>{{ entity.email }}</td>
              </tr>
              <tr>
                  <th>Preferences</th>
                  <td>{{ entity.preferences }}</td>
              </tr>
              <tr>
                  <th>Createdat</th>
                  <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
              </tr>


              </tbody>
          </table>

        </div>








{% endblock %}
